/dts-v1/;
/plugin/;

&i2c3 {
    status = "okay";
    pinctrl-names = "default";
};

&spi0 {
    status = "okay";
    pinctrl-names = "default";
    num-cs = <1>;
    imu_node@0 {
        compatible = "rohm,dh2228fv";
        reg = <0>;
        spi-max-frequency = <10000000>;
        status = "okay";
    };
};

&spi1 {
    status = "okay";
    pinctrl-names = "default";
    num-cs = <1>;
    fpga_node@0 {
        compatible = "rohm,dh2228fv";
        reg = <0>;
        spi-max-frequency = <25000000>;
        status = "okay";
    };
};
